.page{
    display: flex;
    flex-direction: row;
    background: rgb(42, 49, 68);
    margin-top:1.3em;
    height: calc(100vh - 1.3em);
}
.menu{
    display: flex;
    flex-direction: column;
    overflow-y:auto;
    width: 72px;
    height: 100%;
    background: rgb(42, 49, 68);
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.menu > img{
    margin: 8px 10px 0px 10px;
    text-align: center;
}
.menu.bottom,menu.bottom.top, menu.bottom.bot,.menu.top{
    overflow-y:initial;
    height: min-content;

}

.menu> img:hover {
    border-radius: 15px;
}
.menu> img{
    border-radius: 30px;
    height: 50px;
}
.menu.top>img.main:hover{
    filter: grayscale(30%);
}
.menu.top>img.main{
    filter: grayscale(98%) invert(100%);
}
div.option{
    display: flex;
    flex-direction: column;
    background: rgb(5, 60, 82);
    border-top-left-radius: 10px;
    width: 240px;
    height: 100%;
}
.opt-button{
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    background: rgb(42, 49, 68);
    color: rgb(170, 170, 178);
    border: 0;
}
.option.center{
    overflow-y:auto;
}
.option.center-content{
    overflow-y:initial;
    height: min-content;
    width: 230px;
}
.option.center-content a label{
    margin-top: 10px;
}
a.option{
    display: flex;
    flex-direction: row;
    background: transparent;
    border-radius: 5px;
    margin-left: 9px;
}
a.option:hover{
    background: rgb(6, 77, 122);
    border-radius: 5px;

}
a.option-selected{
    display: flex;
    flex-direction: row;
    background: rgb(6, 77, 105);
    border-radius: 5px;
    margin-left: 9px;
}
div.option-cvs{
    display: flex;
    flex-direction: column;
}
a label, a  img{
    margin: 5px 5px;
    color: white;
}
img.opt{
    margin: 7px 10px 7px 5px;
    width: 31px;
    height: 31px;
    border-radius: 30px;
}
img.opt-i{
    margin: 7px 10px 7px 5px;
    width: 31px;
    height: 31px;
}
img.opt ~ label,img.opt-i ~ label{
    font: normal 15pt Arial;
}

.option.top{
    height: 50px;
    align-self: flex-start;
    border-bottom: 1px solid black;
}
.option.top>button, .option.bottom>button{
    height: 100%;
}
.option.bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgb(12, 45, 70);
    height: 50px;
    align-self: flex-end;
    flex-wrap: nowrap;
}
.option.bottom>img{
    position: relative;
    width : 32px;
    height : 32px;
    border-radius : 20px;
    margin-left : 5px;
    cursor : pointer;
}
.option.bottom img.status{
    position: absolute;
    width : 15px;
    height : 15px;
    background: rgb(12, 45, 70);
    border: solid 2.5px rgb(12, 45, 70);
    border-radius : 20px;
    margin-left : 23px;
    margin-top: 11px;
}
.option.bottom label{
    font: normal 12pt Arial;
    color: white;
    margin-left: 5px;
}
.option.bottom div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1 1;
    margin-right: 10px;
}
.option.bottom div button{
    align-content:flex-end;
    width: 25px;
    height: 25px;
    background: transparent;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}
.option.bottom div button img{
    width: 15px;
    height: 15px;

}
.user-config{
    display: none;
    flex-direction: row;
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: calc(100vh - 1.3em);
    background: rgb(6, 77, 105);
}
.user-options{
    display: flex;
    justify-content: flex-end;
    width: 220px;
    background: rgb(22, 55, 80);
}
.options{
    width: 196px;
    margin: 60px 12px;
}
.options *{
    width: 100% ;
}
.options button{
    height: 30px;
    border: 0;
    border-radius: 4px;
    background: transparent;
    border-left: solid 8px transparent;
    text-align: start;
    color:rgb(180, 180,180);
}
.options button:hover{
    background: rgba(255,255,255,0.3);
    color: white;
    cursor: pointer;
}
.options label{
    margin-left: 15px;
    color: rgb(130,130,130);
    font: bold 8pt Arial;
}
.options div{
    margin: 10px 0px;
    border-top: solid 1px rgba(255,255,255,0.3);
}
.options button.out{
    color: rgb(255,55,55);
}
.options button.out:hover{
    background: rgba(255,55,55,0.3);
}
.user-content{
    flex: 1 1;
}
div.account{
    display: flex;
    flex-direction: column;
    margin: 60px 20px 0px 20px;
    color: white;
}
div.account button{
    border: solid 8px rgb(114, 137, 218);
    border-width: 8px 16px;
    border-radius: 3px;
    background: rgb(114, 137, 218);
    font: bold 10pt Arial;
    color: white;
    cursor: pointer;
}
div.account .topic{
    margin-bottom: 20px;
    font: bold 12pt Arial;
}
div.account .account-user.i{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: solid 20px rgb(55, 55, 66);
    border-radius: 4px;
    background: rgb(55, 55, 66);
}
div.account .account-user.i img{
    border-radius: 50px;
    width: 80px;
    height: 80px;
}
div.account div.account-user-info{
    margin-left: 20px;
    flex: 1 1;
    font: Ariel;
}
div.account-user-info div{
    display: flex;
    flex-direction: column;
}
div.account-user-info div>label:first-child{
    color: rgb(170, 170, 170);
}
.fileimg:hover{cursor: pointer;}
div.account-user.edit{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: solid 20px rgb(55, 55, 66);
    border-radius: 4px;
    background: rgb(55, 55, 66);
}
div.account-user.edit img{
    border-radius: 50px;
    width: 80px;
    height: 80px;
}
div.account-user.edit div:first-child div:first-child{
    margin-right: 20px;
    align-items: center;
}
div.account-user.edit div:first-child div:first-child a{
    color: white;
    text-decoration: unset;
}
div.account-user.edit div:first-child div:first-child a:hover{
    color: rgb(130,130,130);
    text-decoration: underline;
}
div.account-edit-info{
    display: flex;
    flex-direction: row;
}
div.account-edit-info div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
div.account-edit-info div label{
    font: normal 7pt Arial;
    color: rgb(180, 180, 180);
    margin-bottom: 6px;
}
div.account-edit-info div input{
    height: 35px;
    border: solid 1px rgb(22, 22, 22);
    padding-left: 10px;
    border-radius: 4px;
    background-color: rgb(47, 49, 54);
    margin-bottom: 16px;
    color: white;
}
.user-change a{
    width: 88px;
}
.user-change a:hover{
    text-decoration: underline;
    cursor: pointer;
}
div.account-edit-info .user-change{
    flex: 1 1;
}
div.account-user.edit .btw{
    border-top: solid 1px rgba(255,255,255,0.12);
    margin: 15px 0px;
}
div.account-user.edit div.user-edit-opt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.user-edit-opt div:first-child button{
    border: solid 1px rgba(255, 66, 66,0.3);
    padding: 6px 12px;
    background: transparent;
    color: rgb(255, 66, 66);
    margin-right: 20px;
}
.user-edit-opt div:first-child button:hover{
    border-color: rgb(255, 66, 66);
}
.user-edit-opt div .cancel{
    background: transparent;
    border: 0;
    margin-right: 20px;
}
.user-edit-opt div .cancel:hover{
    text-decoration: underline;
}
.user-edit-opt div .save{
    background: rgb(67,181,129);
    padding: 6px 12px;
    border: 0;
}
div.account-sec{
    margin-top: 60px;
    width: 460px;
}
div.account-sec div{
    margin-top: 20px;
}
.info.e-mail{
    margin-top: 20px;
}
.user-close{
    width: 50px;
}
.user-close button{
    margin-top: 50px;
    margin-left: 1px;
    width: 35px;
    height: 35px;
    background: transparent;
    border: solid 2px white;
    border-radius: 20px;
}
@media (min-width:800px){
    div.account-sec{
        width: 500px;
    }
}
.user-close button:hover{
    background: rgba(180, 180, 180,0.4);
    cursor: pointer;
}
@media (min-width:900px){
    .user-options{
        width: calc(70vw - 410px);
    }
    .user-close{
        margin-right: calc(20vw - 180px);
    }
}
@media (min-width:1200px){
    .user-options{
        width: calc(40vw - 40px);
    }.user-close{
        margin-right: calc(40vw - 420px);
    }
}
.set-status{
    display: none;
    position: absolute;
    width: 220px;
    height: 247px;
    margin-left: 82px;
    margin-top: calc(100vh - 317px);
    border-radius: 5px;
    background: rgb(12, 45, 70);
}
.set-status div{
    display: flex;
    flex-direction: column;
    margin: 8px 8px;
}
.set-status button img{
    margin-left: 10px;
    margin-right: 15px;
    background-color: transparent;
    width: 10px;
    height: 10px;

}
.set-status .carinha{
    margin-left: 8px;
    margin-right: 13px;
    background-color: transparent;
    width: 14px;
    height: 14px;
}
.set-status button{
    text-align: left;
    font: normal 10pt Arial;
    color: rgb(180, 180, 180);
    background: transparent;
    margin-top: 2px;
    border: 0;
    border-radius: 3px;
}
.set-status button:hover{
    background: rgb(22, 55, 80);
    cursor: pointer;
}
.set-status button.no{
    height: 30px;
}
.set-status div button.yes{
    border-top: solid 8px transparent;
}
.set-status label{
    cursor: pointer;
    height: 20px;
    width: 60px;
}
.set-status label.min{
    white-space: normal;
    height: max-content;
    width: 150px;
    font: bold  7pt Arial;
    color: rgb(120, 120, 120);
}
.set-status .ce{
    margin: 4px 35px 7px 35px;
}
.set-status .div{
    border-top: solid 1px rgb(6, 77, 122);
    margin: 2px 0px 0px 0px;

}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 312px);
    background:rgb(6, 77, 105) ;
}
.navbar{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid black; 
}
.navbar~button{
    height: 50px;
}
.navr{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}
div.navl-friends{
    display: none;
    flex-direction: row;
    position: fixed;
    width: 100%;
}
a.navl.init img{
    width: 20px;
    height: 20px;
}  
a.navl{
    display: flex;
    margin: 10px 5px 10px 5px;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
    font: normal 11pt Arial;
    white-space: nowrap;
    align-items: center;
}
a.navl.n{
    cursor:pointer;
    color: rgb(190, 190, 190);
    background: transparent;
}
a.navl.n:hover{
    color: white;
    background: rgba(190, 190, 190,0.2);
}
 
a.navl.add{
    cursor:pointer;
    color: white;
    background: rgb(67,181,129);
}

.navr{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    
}
.somecounts{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
    width: 100%;
}
.counts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 5;
    flex-grow: 1;
}
.message .f.lbl{
    
    margin: 5px 0px 10px 5px;
}
.message .f.div{
    display: flex;
    justify-content: flex-end;
    margin: 0px 10px;
    padding: 5px 0px 5px 5px;
}
.f.div button{
    width: 30px;
    height: 30px;
    background: rgb(47, 49, 54);
    border-radius: 30px;
    border:  0;
    margin-right: 10px;
}
.content.hiddable{
    display: none;
    flex-direction: column;
    width: 240px;
    flex-shrink: 0;
    background-color: rgb(5, 60, 82);
}
.content-hlbl{
    margin: 10px 0px 0px 10px;
    color: rgb(170, 170, 178);
    font: normal 9pt Arial;
    text-transform: uppercase;
}
.content.bottom{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;

}
.message{
    display: flex;
    flex-direction: column;
    overflow-y:auto;
    flex: 1 2;
    height: calc(calc(100vh - 64px - 48px) - 1.3em);
    width: 100%;
}
.message-content{
    flex-direction: column;
    overflow-y:auto;
    
}
.send-message{
    display: none;
    height: 42px;
    margin: 0px 15px 20px 15px;
}

@media(min-width: 1000px) and (min-height:1000px ){
    section{margin-top:1.4rem;height: calc(100vh - 1.5em);}
    .menu{height: calc(100%-24px);}
}
@media(max-width: 800px){
    .navr button{display: none;}
}
@media(min-width: 800px){
    .content.hiddable{
        display: flex;}
}