<header class="toolbar toolbar-header">
        <label class="title">&lt;OMG-Tools&gt;</label>
</header>
<section>
    <div class="page">
        <div class="menu">
            <div class="menu top">
                <img class="main" type="image/png" src="/image/icone.png" alt="menu">
            </div>
            <div class="menu bottom">
                <div class="menu bottom top">
                    
                </div>
                <div class="menu bottom bot">
                </div>
            </div>
            
        </div>
        <div class="option">
            <div class="option top">
                <button>algo</button>
            </div>
            <div class="option center">
                <button>algo</button>
            </div>
            <div class="option bottom">
                <button>algo</button>
            </div>
        </div>
        <div class="content">
            <div class="navbar">
                <div class="navl">
                    <button>left</button>
                </div>
                <div class="navr"><button>right</button></div>
                
            </div>
            <div class="somecounts">
                <div class="counts">
                    <div class="message">
                        <button>algo</button>
                        <span></span>
                    </div>
                    <div class="content bottom">
                        <button>algo</button>
                    </div>
                </div>
                <div class="content hiddable">
                </div>
            </div>
        </div>
        
    </div>
</section>
<script src="/js/principal.js"></script>